<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>onboard3</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true" class="onboarding-content">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">onboard3</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <div class="image-container">
    <img src="assets/images/onbd2.png" alt="Burn Image" />
  </div>
  <div class="text-container">
    <h2 class="title">Get Burn</h2>
    <p class="subtitle">
      Let’s keep burning, to achive yours goals, it hurts only temporarily, if you give up now you will be in pain forever
    </p>
  </div>
  <div class="circle-button" (click)="goNext()">
    <ion-icon name="arrow-forward-outline" class="arrow"></ion-icon>
  </div>
</ion-content>
