<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>onboard2</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true"class="onboarding-content">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">onboard2</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <div class="image-container">
    <img src="assets/images/onb1.png" alt="Track Goal Image" />
  </div>
  <div class="text-container">
    <h2 class="title">Track Your Goal</h2>
    <p class="subtitle">
      Don't worry if you have trouble determining your goals. We can help you determine your goals and track your goals.
    </p>
  </div>
  <div class="circle-button" (click)="goNext()">
    <ion-icon name="arrow-forward-outline" class="arrow"></ion-icon>
  </div>
  
</ion-content>
