<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>onboard5</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true" class="onboarding-content">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">onboard5</ion-title>
    </ion-toolbar>
  </ion-header> -->
 <div class="image-container">
    <img src="assets/images/onb4.png" alt="Burn Image" />
  </div>
  <div class="text-container">
    <h2 class="title">Improve Sleep Quality</h2>
    <p class="subtitle">
      Improve the quality of your sleep with us, good quality sleep can bring a good mood in the morning
  </div>
  <div class="circle-button" (click)="goNext()">
    <ion-icon name="arrow-forward-outline" class="arrow"></ion-icon>
  </div>
</ion-content>
