<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>onboard1</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true" class="onboarding-content">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">onboard1</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <div class="center-content">
    <h1 class="h1-bold text-center">
      Fitnest<span class="highlight">X</span>
    </h1>
    <p class="subtitle text-center" >Everybody Can Train</p>
  </div>

  <div class="bottom-button">
    <ion-button expand="block" (click)="next()" class="round-gradient-btn" >Get Started</ion-button>
  </div>
  
  
</ion-content>
